<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/styles.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>


{% if message %}
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
<div class="alert alert-success" role="alert">
    {{ message }}
</div>
{% endif %}

{% if err_message %}
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
<div class="alert alert-danger" role="alert">
    {{ err_message }}
</div>
{% endif %}

<body>
    <button onclick="window.location.href='/'">Reload</button>
    <h3 class="text-center my-3 "><span class="text-success">Nutritional Management System</span>  </h3>
    <div class="d-flex m-2 justify-content-between">
        <div class="d-flex">
            <p>Login (click to Logout): </p>
            <a class="" href="form.html"> Admin</a>
           
        </div>
    </div>
    <div class="text-center dropdown mx-2">
        <button class="btn my-4 btn-success dropdown-toggle" type="button" id="dropdownMenuButton1"
            data-bs-toggle="dropdown" aria-expanded="false">
            Select Database
        </button>
        <ul class="dropdown-menu " aria-labelledby="dropdownMenuButton1">
            <li><button class="dropdown-item" onclick="changeData(1)">Patient</button></li>
            <li><button class="dropdown-item" onclick="changeData(2)">Nutritionist</button></li>
            <li><button class="dropdown-item" onclick="changeData(3)">Meal Plan</button></li>
            <li><button class="dropdown-item" onclick="changeData(4)">Food Items</button></li>
            <li><button class="dropdown-item" onclick="changeData(5)">Fitness Data</button></li>
            <li><button class="dropdown-item" onclick="changeData(6)">Run Custom Query</button></li>
        </ul>
    </div>
    <div class="container">
        <div class="patient-form">
            <h4>Patient Form</h4>
            <div class="accordion accordion-flush" id="accordionFlushExample">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingOne">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                            Add New Patient
                        </button>
                    </h2>
                    <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne"
                        data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">
                            <form class="cols" action="/submit_patient" method="POST">
                                <label for="name">Enter your Name
                                    <input class="form-control" type="text" id="name" name="name">
                                </label><br>
                                <label for="age">Enter your Age
                                    <input class="form-control" type="number" id="age" name="age">
                                </label><br>
                                <label for="gender">Enter your Gender
                                    <input class="form-control" type="text" id="gender" name="gender">
                                </label><br>
                                <label for="contact_info">Enter your Phone
                                    <input class="form-control" type="tel" id="contact_info" name="contact_info">
                                </label><br>
                                <button>Add Data</button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingTwo">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                            Delete Patient
                        </button>
                    </h2>
                    <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo"
                        data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">
                            <form action="/delete_patient" method="POST">
                                <input type="number" id="patient_id" name="patient_id">
                                <button>Delete</button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingThree">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#flush-collapseThree" aria-expanded="false"
                            aria-controls="flush-collapseThree">
                            Update Patient Information
                        </button>
                    </h2>
                    <div id="flush-collapseThree" class="accordion-collapse collapse"
                        aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">
                            <form action="/fetch_patient_details" method="POST">
                                <input type="number" id="patient_id" name="patient_id">
                                <button type="submit">Update</button>
                            </form>
                        </div>
                    </div>
                </div>
                
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingTwentyOne">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#flush-collapseTwentyOne" aria-expanded="false"
                            aria-controls="flush-collapseTwentyOne">
                            View Information
                        </button>
                    </h2>
                    <div id="flush-collapseTwentyOne" class="accordion-collapse collapse"
                        aria-labelledby="flush-headingTwentyOne" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">
                            {% if all_patients %}
                                {{ all_patients | safe }}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="nut-form">
            <h4>Nutritionist Form</h4>
            <div class="accordion accordion-flush" id="accordionFlushExample">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingFive">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#flush-collapseFive" aria-expanded="false"
                            aria-controls="flush-collapseFive">
                            Add New Nutritionist
                        </button>
                    </h2>
                    <div id="flush-collapseFive" class="accordion-collapse collapse" aria-labelledby="flush-headingFive"
                        data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">
                            <form class="cols" action="/submit_nutritionist" method="POST">
                                <label for="name">Enter your Name
                                    <input class="form-control" type="text" id="name" name="name">
                                </label><br>
                                <label for="specialty">Enter Specialty
                                    <input class="form-control" type="text" id="specialty" name="specialty">
                                </label><br>
                                <label for="contact_info">Enter your phone
                                    <input class="form-control" type="tel" id="contact_info" name="contact_info">
                                </label><br>
                                <button>Add Data</button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingSix">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#flush-collapseSix" aria-expanded="false" aria-controls="flush-collapseSix">
                            Delete Nutritionist
                        </button>
                    </h2>
                    <div id="flush-collapseSix" class="accordion-collapse collapse" aria-labelledby="flush-headingSix"
                        data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">
                            <form action="/delete_nutritionist" method="POST">
                                <input type="number" id="nutritionist_id" name="nutritionist_id">
                                <button>Delete</button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingSeven">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#flush-collapseSeven" aria-expanded="false"
                            aria-controls="flush-collapseSeven">
                            Update Nutritionist Information
                        </button>
                    </h2>
                    <div id="flush-collapseSeven" class="accordion-collapse collapse"
                        aria-labelledby="flush-headingSeven" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">
                            <form action="/fetch_nutritionist_details" method="POST">
                                <input type="number" id="nutritionist_id" name="nutritionist_id">
                                <button type="submit">Update</button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingTwentyTwo">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#flush-collapseTwentyTwo" aria-expanded="false"
                            aria-controls="flush-collapseTwentyTwo">
                            View Information
                        </button>
                    </h2>
                    <div id="flush-collapseTwentyTwo" class="accordion-collapse collapse"
                        aria-labelledby="flush-headingTwentyTwo" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">
                            {% if all_nutritionists %}
                                {{ all_nutritionists | safe }}
                            {% endif %}
                        </div>
                    </div>
                </div>                
            </div>
        </div>
        <div class="meal-form">
            <h4>Meal Plan</h4>
            <div class="accordion accordion-flush" id="accordionFlushExample">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingNine">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#flush-collapseNine" aria-expanded="false"
                            aria-controls="flush-collapseNine">
                            Add new Meal Plan
                        </button>
                    </h2>
                    <div id="flush-collapseNine" class="accordion-collapse collapse" aria-labelledby="flush-headingNine"
                        data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">
                            <form class="cols" action="/submit_meal_plan" method="POST">
                                <label for="patient_id">Enter Patient ID
                                    <input class="form-control my-2" type="number" id="patient_id" name="patient_id">
                                </label><br>
                                <label for="nutritionist_id">Enter Nutritionist ID
                                    <input class="form-control my-2" type="number" id="nutritionist_id" name="nutritionist_id">
                                </label><br>
                                <label for="start_date">Enter Start Date
                                    <input class="form-control my-2" type="date" id="start_date" name="start_date">
                                </label><br>
                                <label for="end_date">Enter End Date
                                    <input class="form-control my-2" type="date" id="end_date" name="end_date">
                                </label><br>
                                <textarea class="form-control my-2" name="description" id="description"></textarea>
                                <button>Add Data</button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingTen">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#flush-collapseTen" aria-expanded="false" aria-controls="flush-collapseTen">
                            Delete Meal Plan
                        </button>
                    </h2>
                    <div id="flush-collapseTen" class="accordion-collapse collapse" aria-labelledby="flush-headingTen"
                        data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">
                            <form action="/delete_meal_plan" method="POST">
                                <input type="number" id="meal_plan_id" name="meal_plan_id">
                                <button>Delete</button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingEleven">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#flush-collapseEleven" aria-expanded="false"
                            aria-controls="flush-collapseEleven">
                            Update Plan
                        </button>
                    </h2>
                    <div id="flush-collapseEleven" class="accordion-collapse collapse"
                        aria-labelledby="flush-headingEleven" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">
                            <form action="/fetch_meal_plan_details" method="POST">
                                <input type="number" id="meal_plan_id" name="meal_plan_id">
                                <button type="submit">Update</button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingTwentyThree">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#flush-collapseTwentyThree" aria-expanded="false"
                            aria-controls="flush-collapseTwentyThree">
                            View Information
                        </button>
                    </h2>
                    <div id="flush-collapseTwentyThree" class="accordion-collapse collapse"
                        aria-labelledby="flush-headingTwentyThree" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">
                            {% if all_meal_plans %}
                                {{ all_meal_plans | safe }}
                            {% endif %}
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
        <div class="food-form">
            <h4>Food Items</h4>
            <div class="accordion accordion-flush" id="accordionFlushExample">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingThirteen">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#flush-collapseThirteen" aria-expanded="false"
                            aria-controls="flush-collapseThirteen">
                            Add new Food Item
                        </button>
                    </h2>
                    <div id="flush-collapseThirteen" class="accordion-collapse collapse"
                        aria-labelledby="flush-headingThirteen" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">
                            <form class="cols" action="/submit_food_item" method="POST">
                                <label for="foodname">Name
                                    <input class="form-control my-2" type="name" id="foodname" name="foodname">
                                </label><br>
                                <label for="calories">Calories
                                    <input class="form-control my-2" type="number" id="calories" name="calories">
                                </label><br>
                                <label for="protein">Protein
                                    <input class="form-control my-2" type="number" id="protein" name="protein">
                                </label><br>
                                <label for="carbs">Carbs
                                    <input class="form-control my-2" type="number" id="carbs" name="carbs">
                                </label><br>
                                <label for="fats">Fats
                                    <input class="form-control my-2" type="number" id="fats" name="fats">
                                </label><br>

                                <button>Add Data</button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingFourteen">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#flush-collapseFourteen" aria-expanded="false"
                            aria-controls="flush-collapseFourteen">
                            Delete Food Item
                        </button>
                    </h2>
                    <div id="flush-collapseFourteen" class="accordion-collapse collapse"
                        aria-labelledby="flush-headingFourteen" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">
                            <form action="/delete_food_item" method="POST">
                                <label for="food_item_id">Enter Food Item ID:</label>
                                <input type="number" name="food_item_id" id="food_item_id">
                                <button>Delete</button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingFifteen">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#flush-collapseFifteen" aria-expanded="false"
                            aria-controls="flush-collapseFifteen">
                            Update Food Item`
                        </button>
                    </h2>
                    <div id="flush-collapseFifteen" class="accordion-collapse collapse"
                        aria-labelledby="flush-headingFifteen" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">
                            <form action="/fetch_food_item_details" method="POST">
                                <input type="number" id="food_item_id" name="food_item_id">
                                <button type="submit">Update</button>
                            </form>
                        </div>
                    </div>
                </div>
                
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingTwentyFour">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#flush-collapseTwentyFour" aria-expanded="false"
                            aria-controls="flush-collapseTwentyFour">
                            View Information
                        </button>
                    </h2>
                    <div id="flush-collapseTwentyFour" class="accordion-collapse collapse"
                        aria-labelledby="flush-headingTwentyFour" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">
                            {% if all_food_items %}
                                {{ all_food_items | safe }}
                            {% endif %}
                        </div>
                    </div>
                </div>                
            </div>
        </div>
        <div class="fitness-form">
            <h4>Fitness Data</h4>
            <div class="accordion accordion-flush" id="accordionFlushExample">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingSeventeen">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#flush-collapseSeventeen" aria-expanded="false"
                            aria-controls="flush-collapseSeventeen">
                            Add new Fitness Data
                        </button>
                    </h2>
                    <div id="flush-collapseSeventeen" class="accordion-collapse collapse"
                        aria-labelledby="flush-headingSeventeen" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">
                            <form class="cols" action="/submit_fitness_data" method="POST">
                                <label for="patient_id">Enter Patient ID
                                    <input class="form-control my-2" type="number" id="patient_id" name="patient_id">
                                </label><br>
                                <label for="weight">Weight
                                    <input class="form-control my-2" type="number" id="weight" name="weight">
                                </label><br>
                                <label for="height">Height
                                    <input class="form-control my-2" type="number" id="height" name="height">
                                </label><br>
                                <label for="bmi">BMI
                                    <input class="form-control my-2" type="number" id="bmi" name="bmi">
                                </label><br>
                                <label for="measuring-date">Measurement Date
                                    <input class="form-control my-2" type="date" id="measuring-date" name="measuring-date">
                                </label><br>
                               
                                <button>Add Fitness Data</button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingEighteen">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#flush-collapseEighteen" aria-expanded="false"
                            aria-controls="flush-collapseEighteen">
                            Delete Fitness Data
                        </button>
                    </h2>
                    <div id="flush-collapseEighteen" class="accordion-collapse collapse"
                        aria-labelledby="flush-headingEighteen" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">
                            <form action="/delete_fitness_data" method="POST">
                                <input type="number" id="fitness_data_id" name="fitness_data_id">
                                <button>Delete</button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingNineteen">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#flush-collapseNineteen" aria-expanded="false"
                            aria-controls="flush-collapseNineteen">
                            Update Data
                        </button>
                    </h2>
                    <div id="flush-collapseNineteen" class="accordion-collapse collapse"
                        aria-labelledby="flush-headingNineteen" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">
                            <form action="/fetch_fitness_data_details" method="POST">
                                <input type="number" id="fitness_data_id" name="fitness_data_id">
                                <button type="submit">Update</button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingTwentyFive">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#flush-collapseTwentyFive" aria-expanded="false"
                            aria-controls="flush-collapseTwentyFive">
                            View Information
                        </button>
                    </h2>
                    <div id="flush-collapseTwentyFive" class="accordion-collapse collapse"
                        aria-labelledby="flush-headingTwentyFive" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">
                            {% if all_fitness_data %}
                                {{ all_fitness_data | safe }}
                            {% endif %}
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
        <div class="run-form">
            <h4>Run Custom Query</h4>
            <div class="accordion accordion-flush" id="accordionFlushExample">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingSeventeen">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#flush-collapseSeventeen" aria-expanded="false"
                            aria-controls="flush-collapseSeventeen">
                            Run custom query
                        </button>
                    </h2>
                    <div id="flush-collapseSeventeen" class="accordion-collapse collapse"
                        aria-labelledby="flush-headingSeventeen" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">
                            <form class="cols" action="/run_query" method="POST">
                                <textarea class="form-control my-2" name="description" id="description"></textarea>
                                <button>Run</button>
                            </form>
                        </div>
                    </div>                
                    </h2>
                    <div id="flush-collapseTwentyFive" class="accordion-collapse collapse"
                        aria-labelledby="flush-headingTwentyFive" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">
                            {% if all_fitness_data %}
                                {{ all_fitness_data | safe }}
                            {% endif %}
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
    



    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <script>
        let changeData = (data) => {
            let patientData = document.querySelector(".patient-form")
            let nutData = document.querySelector(".nut-form")
            let mealData = document.querySelector(".meal-form")
            let foodForm = document.querySelector(".food-form")
            let fitnessForm = document.querySelector(".fitness-form")
            let runcustomquery = document.querySelector(".run-form")
            
            switch (data) {
                case 1:
                    patientData.style.display = "block";
                    nutData.style.display = "none";
                    mealData.style.display = "none";
                    foodForm.style.display = "none";
                    fitnessForm.style.display = "none";
                    break;
                case 2:
                    patientData.style.display = "none";
                    mealData.style.display = "none";
                    nutData.style.display = "block";
                    foodForm.style.display = "none";
                    fitnessForm.style.display = "none";
                    break;
                case 3:
                    patientData.style.display = "none";
                    mealData.style.display = "block";
                    nutData.style.display = "none";
                    foodForm.style.display = "none";
                    fitnessForm.style.display = "none";
                    break;
                case 4:
                    patientData.style.display = "none";
                    mealData.style.display = "none";
                    nutData.style.display = "none";
                    foodForm.style.display = "block";
                    fitnessForm.style.display = "none";
                    break;
                    case 5:
                    patientData.style.display = "none";
                    mealData.style.display = "none";
                    nutData.style.display = "none";
                    foodForm.style.display = "none";
                    fitnessForm.style.display = "block";
                    break;
                    case 6:
                    patientData.style.display = "none";
                    mealData.style.display = "none";
                    nutData.style.display = "none";
                    foodForm.style.display = "none";
                    fitnessForm.style.display = "none";
                    runcustomquery.style.display = "block"
                    break;
            }

        }
    </script>

    <script>
        // Function to handle the click event of the "View Tables" button
        document.getElementById("viewTablesButton").addEventListener("click", function(event) {
            event.preventDefault(); // Prevent form submission

            // Get the table data container
            var tableDataContainer = document.getElementById("tableDataContainer");

            // Toggle the visibility of the table data container
            if (tableDataContainer.style.display === "none" || tableDataContainer.style.display === "") {
                tableDataContainer.style.display = "block"; // Show the container
            } else {
                tableDataContainer.style.display = "none"; // Hide the container
            }
        });
    </script>



</body>

</html>