<!DOCTYPE html>
<html>

<head>
  <title>Show Form on Button Click</title>
  <link rel="stylesheet" href="../static/styles.css">
</head>

<body>
  <div class="form-div">
    <div class="form-container">
      <div>
        <h2>Nutritional Management System</h2>
        <div class="flex-justify">
          <button class="showFormBtn" id="showFormBtn">Login</button>
        </div>
      </div>
      <div class="flex-justify" id="formContainer" style="display: none;">
        <div>
          <label for="name">Name:</label>
          <input class="input-fields" type="text" id="name" name="name"><br><br>
          <label for="password">Email:</label>
          <input class="input-fields" type="password" id="password" name="password"><br><br>
          <button class="showFormBtn" onclick="loginAuth()">Submit</button>
        </div>
      </div>
    </div>
    </div>
    <script>  
    let loginAuth = ()=>{
      let userName = document.getElementById('name').value
      let password = document.getElementById('password').value
      let user1 = {
        "userName": "admin",
        "password" : "12345"
      }
     
      if (user1.userName === userName && user1.password=== password)
      {
        window.location.href = 'dashboard.html';
      }
      else{
        alert("User not found")
      }
    }
    </script>

  <script>
    // Get references to the button and form container
    const showFormBtn = document.getElementById('showFormBtn');
    const formContainer = document.getElementById('formContainer');

    // Add a click event listener to the button
    showFormBtn.addEventListener('click', function () {
      // Toggle the display of the form container
      formContainer.style.display = formContainer.style.display === 'none' ? 'block' : 'none';
    });
  </script>
</body>

</html>
<!DOCTYPE html>
<html>

<head>
  <title>Show Form on Button Click</title>
</head>

<body>

  <div id="formContainer" style="display: none;">
    <form>
      <label for="name">Name:</label>
      <input type="text" id="name" name="name"><br><br>
      <label for="email">Email:</label>
      <input type="email" id="email" name="email"><br><br>
      <input type="submit" value="Submit">
    </form>
  </div>

  <script>
    // Get references to the button and form container
    const showFormBtn = document.getElementById('showFormBtn');
    const formContainer = document.getElementById('formContainer');

    // Add a click event listener to the button
    showFormBtn.addEventListener('click', function () {
      // Toggle the display of the form container
      formContainer.style.display = formContainer.style.display === 'none' ? 'block' : 'none';
    });
  </script>
</body>

</html>