<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Nutritional Management System{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>

<header>
    <h1>Nutritional Management System</h1>
</header>

<nav>
    <a href="/">Home</a>
    <a href="/dashboard">Dashboard</a>
    <a href="/contact">Contact</a>
    <a href="https://github.com/row-huh/Nutritional-Management-System" target="_blank">View Project on Github</a>
</nav>

<div class="content">
    {% block content %}{% endblock %}
</div>

<footer>
    <p>&copy; 2024 Nutritional Management System</p>
</footer>

</body>
</html>
